<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;script xlink:href="$1" /&gt;</string>
	<key>name</key>
	<string>script (external)</string>
	<key>scope</key>
	<string>text.xml.svg</string>
	<key>tabTrigger</key>
	<string>script</string>
	<key>uuid</key>
	<string>AA9C3A86-9D79-4CBC-A5C3-CAB2B6C0DB05</string>
</dict>
</plist>
